XML_schema/XTCE_Schema-CCDD.xsd

<!--  Extend the XTCE schema with CCDD-specific types
      Version 1.0   2/12/2018
      ER6/Kevin McCluney
 
      Copyright 2017 United States Government as represented by the Administrator of the National
      Aeronautics and Space Administration. No copyright is claimed in the United States under
      Title 17, U.S. Code. All Other Rights Reserved.
-->

<schema xmlns:xtce="http://www.omg.org/space/xtce" xmlns:ccdd="http://www.example.net/test" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.omg.org/space/xtce" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
    <include schemaLocation="XTCE_Schema.xsd" />
    
    <redefine schemaLocation="XTCE_Schema.xsd">
    
    <!--  Extend NameDescriptionType -->
	    <complexType name="NameDescriptionType" abstract="true">
	        <complexContent>
	            <extension base="xtce:NameDescriptionType">
		            <sequence>
		            
					    <!-- Table Type Name -->
					    <element name="CCDDTableType" type="string" />
					   
                        <!--  CCDD Table Data Field -->
                        <element name="CCDDTableDataFieldSet" type="xtce:CCDDDataFieldSet" minOccurs="0" />
                        
                        <!--  CCDD Table Type -->
                        <element name="CCDDTableTypeDefinitionSet" minOccurs="0">
                            <complexType>
                                <sequence>
                                    <element name="CCDDTableTypeDefinitionData" maxOccurs="unbounded">
                                        <annotation>
                                            <documentation xml:lang="en">CCDD table type definition. </documentation>
                                        </annotation>
                                        <complexType>
                                            <sequence>
                                                <element name="tableType" type="string" />
                                                <element name="description" type="string" />
                                                <element name="CCDDTableTypeDefinitionColumn" maxOccurs="unbounded">
                                                    <annotation>
                                                        <documentation xml:lang="en">CCDD table type column definition. </documentation>
                                                    </annotation>
                                                    <complexType>
                                                        <simpleContent>
                                                            <extension base="string">
                                                                <attribute name="columnNumber" type="integer" use="required" />
                                                                <attribute name="nameVisible" type="string" use="required" />
                                                                <attribute name="nameDatabase" type="string" use="required" />
                                                                <attribute name="description" type="string" use="required" />
                                                                <attribute name="inputType" type="string" use="required" />
                                                                <attribute name="rowValueUnique" type="boolean" use="required" />
                                                                <attribute name="required" type="boolean" use="required" />
                                                                <attribute name="structureAllowed" type="boolean" use="required" />
                                                                <attribute name="pointerAllowed" type="boolean" use="required" />
                                                            </extension>
                                                        </simpleContent>
                                                    </complexType>
                                                </element>
                                                
                                                <!--  CCDD Table Type Data Field -->
                                                <element name="CCDDTableTypeDefinitionDataFieldSet" type="xtce:CCDDDataFieldSet" minOccurs="0" />
                                                                                                                                                                         
                                            </sequence>
                                        </complexType>
                                    </element>
                                </sequence>
                            </complexType>
                        </element>
                        
                        <!--  CCDD Data Type -->
                        <element name="CCDDDataTypeSet" minOccurs="0">
                            <complexType>
                                <sequence>
                                    <element name="CCDDDataTypeData" maxOccurs="unbounded">
                                        <annotation>
                                            <documentation xml:lang="en">CCDD data type definition. </documentation>
                                        </annotation>
                                        <complexType>
                                            <simpleContent>
                                                <extension base="string">
                                                    <attribute name="userName" type="string" use="required" />
                                                    <attribute name="cName" type="string" use="required" />
                                                    <attribute name="sizeInBytes" type="positiveInteger" use="required" />
                                                    <attribute name="baseType" type="string" use="required" />
                                                </extension>
                                            </simpleContent>
                                        </complexType>
                                    </element>
                                </sequence>
                            </complexType>
                        </element>
                        
                        <!--  CCDD Macro Type -->
                        <element name="CCDDMacroSet" minOccurs="0">
                            <complexType>
                                <sequence>
                                    <element name="CCDDMacroData" maxOccurs="unbounded">
                                        <annotation>
                                            <documentation xml:lang="en">CCDD macro definition. </documentation>
                                        </annotation>
                                        <complexType>
                                            <simpleContent>
                                                <extension base="string">
                                                    <attribute name="name" type="string" use="required" />
                                                    <attribute name="macroValue" type="string" use="required" />
                                                </extension>
                                            </simpleContent>
                                        </complexType>
                                    </element>
                                </sequence>
                            </complexType>
                        </element>
                        
                        <!--  CCDD Reserved Message ID Type -->
                        <element name="CCDDReservedMessageIDSet" minOccurs="0">
                            <complexType>
                                <sequence>
                                    <element name="CCDDReservedMessageIDData" maxOccurs="unbounded">
                                        <annotation>
                                            <documentation xml:lang="en">CCDD reserved message ID definition. </documentation>
                                        </annotation>
                                        <complexType>
                                            <simpleContent>
                                                <extension base="string">
                                                    <attribute name="messageID" type="string" use="required" />
                                                    <attribute name="description" type="string" use="required" />
                                                </extension>
                                            </simpleContent>
                                        </complexType>
                                    </element>
                                </sequence>
                            </complexType>
                        </element>
                        
                        <!--  CCDD Variable Path Type -->
                        <element name="CCDDVariablePathSet" minOccurs="0">
                            <complexType>
                                <sequence>
                                    <element name="CCDDVariablePathData" maxOccurs="unbounded">
                                        <annotation>
                                            <documentation xml:lang="en">CCDD variable path. </documentation>
                                        </annotation>
                                        <complexType>
                                            <simpleContent>
                                                <extension base="string">
                                                    <attribute name="path" type="string" use="required" />
                                                    <attribute name="pathConverted" type="string" use="required" />
                                                </extension>
                                            </simpleContent>
                                        </complexType>
                                    </element>
                                </sequence>
                            </complexType>
                        </element>

                        <!-- Custom Table Column Values -->
					    <element name="CCDDTableColumnSet" minOccurs="0">
						    <complexType>
						        <sequence>
						            <element name="CCDDTableColumnData" maxOccurs="unbounded">
						                <annotation>
						                    <documentation xml:lang="en">CCDD table column data. </documentation>
						                </annotation>
						                <complexType>
						                    <simpleContent>
						                        <extension base="string">
						                            <attribute name="rowNumber" type="integer" use="required" /> <!--  IS ROW NUMBER NEEDED? THE DATA IS SUB'D TO THE PARAMETER, etc. (OR IS THIS TRUE FOR OTHET TABLE TYPES?) -->
						                            <attribute name="columnName" type="string" use="required" />
						                        </extension>
						                    </simpleContent>
						                </complexType>
						            </element>
						        </sequence>
						    </complexType>
					    </element>
                                    
		            </sequence>
	            </extension>
	        </complexContent>
	    </complexType>
    <!--  End extend NameDescriptionType -->
        
    </redefine>
	    
    <!-- Data Field Definition -->
    <complexType name="CCDDDataFieldSet">
	    <sequence>
	        <element name="CCDDDataFieldData" maxOccurs="unbounded">
	            <annotation>
	                <documentation xml:lang="en">CCDD data field definition. </documentation>
	            </annotation>
	            <complexType>
	                <simpleContent>
	                    <extension base="string">
	                        <attribute name="name" type="string" use="required" />
	                        <attribute name="description" type="string" use="required" />
	                        <attribute name="size" type="positiveInteger" use="required" />
	                        <attribute name="inputType" type="string" use="required" />
	                        <attribute name="required" type="boolean" use="required" />
	                        <attribute name="applicability" type="string" use="required" />
	                    </extension>
	                </simpleContent>
	            </complexType>
	        </element>
	    </sequence>
    </complexType>

</schema>